@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

* { margin: 0; padding: 0; -moz-box-sizing: border-box; box-sizing: border-box;}
html { background: #222; height: 100%;}
body { margin: 0 auto; color: #EFEFEF; background-color: #2D2D2D; font-family: 'Open Sans', sans-serif; height: 100%;}

header {
  position: absolute;
  top: 0 ; left: 0;
  height: 45px; width: 100%;
  z-index: 8;
  background-color: #2D2D2D;
}

#notifications {
  position: absolute;
  top: 45px ; left: 0;
  height: 60px; width: 100%;
  z-index: 7;
}

#links {
  position: absolute;
  top: 45px ; left: 0;
  height: 60px; width: 100%;
  height: calc(100%  - 45px); height: -webkit-calc(100%  - 45px); 
  z-index: 6;
}

header {padding: 10px 16px; background-image: url(assets/logo-inapp.png); background-position: center center; background-repeat: no-repeat; border-bottom: 1px solid rgb(42,42,42);}

#login, #edit { position: absolute; top: 0; height: 45px; }
#login { left: 0; background-image: url(assets/signin-button.png); background-repeat: no-repeat; background-position: 16px center; width: 50px; } 
#edit { right :0; padding: 10px 16px 10px 0; width: 45px; }
#edit:before { content: ""; display: block; width: 100%; height: 100%; border-radius: 3px; background-image: url(assets/gear.png), linear-gradient(to bottom, #B9B9B9, #7C7C7C); background-image: url(assets/gear.png), -webkit-linear-gradient(top, #B9B9B9, #7C7C7C); background-repeat: no-repeat; background-position: center center; }
.editmode #edit:before { background-image: linear-gradient(to bottom, #00aeef, #0087ba); background-image: -webkit-linear-gradient(top, #00aeef, #0087ba); }

#links { overflow: hidden; counter-reset: link 0;}
#links > li { list-style: none; position: relative; border-top: 1px solid rgb(63,63,63); border-bottom: 1px solid rgb(42,42,42); background-image: linear-gradient(to bottom, rgb(55,55,55), rgb(51,51,51)); background-image: -webkit-linear-gradient(top, rgb(55,55,55), rgb(51,51,51)); height: 65px; height: calc(100% / 7); height: -webkit-calc(100% / 7); overflow: hidden;}
#links > li > a { padding: 0 16px; display: inline-block; position: relative; height: 100%; width: 100%; color: #efefef!important; text-decoration: none; } 

.icons, .text { display: inline-block; position: absolute; height: 48px; top: 50%; margin-top: -24px; }
.text { left: 78px; }

.icons { width: 48px; background-color: rgb(42,42,42); box-shadow: 0 1px 1px rgb(77,77,77), 0 -1px 1px rgb(36,36,36); border-radius: 50%; }
.icons > div { border-radius: 50%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: 100% 100%}
.smallicon { image-rendering: -moz-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; }
.icons:before { counter-increment: link 1; content: counter(link); display: inline-block; position: absolute; top: 0; left: 0; line-height: 44px; width: 48px; font-size: 20px; text-align: center; vertical-align: middle; color: #4C4C4C; font-weight: bold; }

.title, .href { display: block; vertical-align: middle}
.title { font-size: 18px; letter-spacing: 2px; }
.href { font-size: 11px; color: #BBB; }

@media (max-height: 400px) { .text { left: 58px; } .icons { margin-right: 0; border-radius: 0%; } .icons > div { border-radius: 0%; } #links > li > a { padding-left: 0; } }
@media (max-height: 340px) { .href { display: none !important; } .title {line-height: 48px}}

.deletebutton { position: absolute; height: 100%; top: 0; right: 0; background-image: radial-gradient(rgb(128,128,128) 65%, transparent 75%); background-image: -webkit-radial-gradient(rgb(128,128,128) 65%, transparent 75%); background-size: 22px 22px; background-repeat: no-repeat; background-position: center center; width: 61px; transform: translateX(61px); transition: 500ms transform ease; -webkit-transform: translateX(61px); -webkit-transition: 500ms -webkit-transform ease; }
.editmode .deletebutton { transform: none; -webkit-transform: none; }
.editmode .text, .editmode .icons {pointer-events: none}

#links > li.goup { transform: translateY(-100%); -webkit-transform: translateY(-100%);}
#links > li.godown { transform: translateY(100%); -webkit-transform: translateY(100%);}
#links > li.floating { border-top-color: #6DCFF6; border-bottom-color: #006D96; background-image: linear-gradient(to bottom, #00AEEF, #0087Ba); background-image: -webkit-linear-gradient(top, #00AEEF, #0087Ba); z-index: 42; }
#links > li.floating > .deletebutton { display: none; }

#notifications {
  font-size: 13px;
  background-color: #222;
  -webkit-transition: -webkit-transform 300ms linear;
   -webkit-transform: translateY(-60px);
          transition: transform 300ms linear;
           transform: translateY(-60px);
}

#notifications.active {
  transform: none;
  -webkit-transform: none;
}

#notifications > * {
  padding: 10px 0;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  display: none;
}

#notifications > .active {
  display: block;
}

/*
#links {
  -webkit-transition: -webkit-transform 300ms linear;
          transition: transform 300ms linear;
}
#links.undernotification {
   -webkit-transform: translateY(60px);
           transform: translateY(60px);
}
  */
