@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
  margin: 0 auto;
  max-width: 320px;
  color: #efefef;
  background-color: rgb(45,45,45);
  font-family: 'Open Sans', sans-serif;
}

#links {
  padding: 0;
  overflow: hidden;
}

#links > li {
  padding: 5px 10px;
  margin: 0;
  list-style: none;
  position: relative;
  border-width: 1px 0;
  border-style: solid;
  border-bottom-color: rgb(42,42,42);
  border-top-color: rgb(63,63,63);
  background-image: linear-gradient(to bottom, rgb(55,55,55), rgb(51,51,51));
  background-image: -webkit-linear-gradient(top, rgb(55,55,55), rgb(51,51,51));
}

.icons, .text {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
}

.text > span {
  display: block;
}

#links > li > a {
  color: #efefef;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

#links > li > a:visited {
  color: #efefef;
}

.title {
  font-size: 18px;
  letter-spacing: 2px;
}

.href {
  font-size: 11px;
  color: #DDD;
}

.icons {
  width: 48px;
  margin-right: 10px;
  position: relative;
  background-color: rgb(42,42,42);
  box-shadow: 0 1px 1px rgb(77,77,77), 0 -1px 1px rgb(36,36,36);
  border-radius: 50%;
}

.icons > img {
  border-radius: 50%;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.smallicon {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}

/* Responsive */

@media (min-width: 800px) {
  .editbutton {
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #999;
  }

  .editbutton:hover {
    color: #000;
  }
}

/* Personna */

#personnaButton {
  margin: 10px;
  border-radius: 3px;
  height: 62px;
  line-height: 62px;
  padding-left: 100px;
  background-color: white;
  background-image: url(imgs/persona.png),
                    linear-gradient(to bottom, #eee 50%, #d2d2d2 50%);
  background-repeat: no-repeat;
  background-size: 81px 62px, 100% 100%;
  cursor: pointer;
  color: #666;
}

#personnaButton:hover {
  color: black;
}

/* Logs */

#logs {
  background: white;
}
#logs > h1 {
  font-size: 20px;
}
#logs > p {
  font-size: 14px;
  border-bottom: 1px solid black;
}

/* Edition */

.editbutton {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 50px;
  font-size: 24px;
  background: transparent;
  border: 0;
  color: #333;
}

body.editmode .editbutton.start,
body:not(.editmode) .editbutton.done {
  display: none;
}

.deletebutton, .reorderbutton {
  position: absolute;
  background: white;
  width: 72px;
  height: 72px;
  background-size: 36px 36px;
  background-position: 18px 18px;
  background-repeat: no-repeat;
  border-left: 1px dotted #ddd;
  transform: translateX(148px);
  transition: 500ms transform ease;

  -webkit-transform: translateX(148px);
  -webkit-transition: 500ms -webkit-transform ease;
  -o-transform: translateX(148px);
  -o-transition: 500ms -o-transform ease;
}

body.editmode .deletebutton,
body.editmode .reorderbutton {
  transform: none;
  -webkit-transform: none;
  -o-transform: none;
}


.deletebutton {
  cursor: pointer;
  top: 0;
  right: 72px;
  background-image: url(imgs/delete.svg);
}

.reorderbutton {
  cursor: move;
  top: 0;
  right: 0;
  background-image: url(imgs/dnd.svg);
}


#links > li.goup {
  -webkit-transform: translateY(-77px);
       -o-transform: translateY(-77px);
          transform: translateY(-77px);
}

#links > li.godown {
  -webkit-transform: translateY(77px);
       -o-transform: translateY(77px);
          transform: translateY(77px);
}

#links > li.floating {
  background: blue;
  z-index: 42;
}



/* Persona button */

/* Link body */

#login {
  width: 20px;
  height: 22px;
  position: relative;
  border: none;
  background: transparent;
}

#login:before {
  content: "";
  display: block;
  width: 20px;
  height: 22px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAA4klEQVR42o2RWaqEMBRE3YaCiDjPwQGcd9CrysLv4wTyoLFD90dxqbp1EgdPRB7Kskznea6Zn/aPoKoqUUrJOI5m4l2QBfSyLHKep1zXZSae3An1fS/7vst931bGkzuhaZrsLVbGkzuheZ7lOI6HyJ2QUkqv6yrbtv0LT+6E7G0UrfBfP3lZlpoXH4ZBmHgn5Pv+KwxDfqp0XQdgJp6c/RsUBIGOokiSJDE/s21bACbe5Ozp0TdAHMdSFIXUdS1N01C2wpObPT36HifwCJzI0iX29Oh7XP0E3CB9L01TzM+i/wePv4ZE5RtAngAAAABJRU5ErkJggg==),
              linear-gradient(to bottom, #50b8e8, #3095ce);
  background-size: 14px 14px, 100% 100%;
  background-repeat: no-repeat;
  background-position: 4px 4px, 0 0;
  box-shadow: x;
  border-radius: 2px 0 0 2px;
  position: absolute;
  top: 0; left: 0;
  z-index: 42;
  box-shadow: 0 1px rgba(0,0,0,0.2) inset, 0 -1px rgba(255,255,255,0.2) inset;
}

#login:after {
  content: "";
  display: block;
  width: 15.5px;
  height: 15.5px;
  background: linear-gradient(to bottom right, #50b8e8, #3095ce);
  position: absolute;
  top: 0; left: 20px;
  transform-origin: top left;
  transform: rotate(45deg);
  box-shadow: 0 1px rgba(0,0,0,0.2) inset, -1px 0 rgba(255,255,255,0.2) inset;
  z-index: 41;
}
